{% load static %}
<!doctype html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Lato:400i|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'js/aboutus.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>


	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #FCFCFC">
	<!-- menambahkan header -->
	<div class="header">
		{% include 'header.html' %}
		<script>
			$(document).ready(function () {
				$('#nav').css('background-color', 'transparent');
				$(document).scroll(function () {
					var dynamicStop = $('a[name = testimony]').offset().top;
					var scrollPos = $(document).scrollTop();
					if ($(window).width() > 767) {
						if (scrollPos >= dynamicStop) {
							$('#nav').css('background-color', '#15724d');
						} else if (scrollPos <= dynamicStop) {
							$('#nav').css('background-color', 'transparent');
						}
					}
				});
			});
		</script>
	</div>

	<!-- menambahkan gambar awal -->
	<div class="container-fluid section1">
		<br>
		<div class="aboutus_rectangle">
			<div class="text_section1">
				<p><img src="{% static 'images/logo.png' %}" height="40%" width="70%"></p>
				<article>is a non-profit foundation that mainly focused in disaster fund relief. We want you to be a part of our
					journey
					by helping us donating to one who needs.</article>
			</div>
		</div>
	</div>

	<!-- menambahkan textarea testimoni -->
	<a name="testimony"></a>
	{% if user.is_authenticated %}
	<div class="padding1">
		<div class="title_text title-with-line d-flex justify-content-center align-items-center flex-column">
			<article>WHAT DO YOU THINK ABOUT US?</article>
			<div class="line"></div>
		</div>
		<br>
		{% csrf_token %}
		<div class="form-group" method="POST">
			<textarea class="form-control text-area" placeholder="{{ user.username }}" rows=1 id="nama">{{ user.username }}</textarea>
			<br>
			<textarea class="form-control text-area" placeholder="Enter your testimony about us here..." rows=5 id="testimoni"></textarea>
		</div>
		<div class="submit-btn d-flex justify-content-end align-items-center">
			<input type="submit" class="btn-primary btn" value="SUBMIT" onclick="sendTestimony()">
		</div>
		{% endif %}
	</div>

	<!-- menambahkan testimoni -->
	<div class="padding1">
		<div class="title_text title-with-line d-flex justify-content-center align-items-center flex-column">
			<article>WHAT THEY THINK ABOUT US</article>
			<div class="line"></div>
		</div>
		<div id="isiTestimoni" class="d-flex flex-wrap justify-content-center align-items-center">
			{% for testimony in testimonies %}
			<div class="d-flex justify-content-center align-items-center flex-column testimony-set">
				<p class="testimonyText">“{{ testimony.testimoni }}”</p>
				<p><strong>{{ testimony.nama }}</strong></p>
			</div>
			{% endfor %}
			<div class="d-flex justify-content-center align-items-center flex-column testimony-set">
				<p class="testimonyText">“Terima kasih SinarPerak berkat kalian TP PPWku selesai.” </p>
				<p><strong>Mila</strong></p>
			</div>
			<div class="d-flex justify-content-center align-items-center flex-column testimony-set">
				<p class="testimonyText">“Terima kasih SinarPerak berkat kalian TP PPWku selesai.” </p>
				<p><strong>Mila</strong></p>
			</div>
			<div class="d-flex justify-content-center align-items-center flex-column testimony-set">
				<p class="testimonyText">“Terima kasih SinarPerak berkat kalian TP PPWku selesai.” </p>
				<p><strong>Mila</strong></p>
			</div>
			<div class="d-flex justify-content-center align-items-center flex-column testimony-set">
				<p class="testimonyText">“Terima kasih SinarPerak berkat kalian TP PPWku selesai.” </p>
				<p><strong>Mila</strong></p>
			</div>
			<div class="d-flex justify-content-center align-items-center flex-column testimony-set">
				<p class="testimonyText">“Terima kasih SinarPerak berkat kalian TP PPWku selesai.” </p>
				<p><strong>Mila</strong></p>
			</div>
			<div class="d-flex justify-content-center align-items-center flex-column testimony-set">
				<p class="testimonyText">“Terima kasih SinarPerak berkat kalian TP PPWku selesai.” </p>
				<p><strong>Mila</strong></p>
			</div>
		</div>

	</div>

	<!-- menambahkan footer -->
	<div class="footer">
		{% include 'footer.html' %}
	</div>
</body>

</html>