{% load static %}
<!doctype html>
<html>

<head>
	<title>SinarPerak</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:400i|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: #FCFCFC">
	<!-- menambahkan header -->
	<div class="header">
		{% include 'header.html' %}
		<script>
			$(document).ready(function () {
				$('#nav').css('background-color', 'transparent');
				$(document).scroll(function () {
					var dynamicStop = $('a[name = campaigns]').offset().top;
					var scrollPos = $(document).scrollTop();
					if ($(window).width() > 767) {
						if (scrollPos >= dynamicStop) {
							$('#nav').css('background-color', '#15724d');
						} else if (scrollPos <= dynamicStop) {
							$('#nav').css('background-color', 'transparent');
						}
					}
				});
			});
		</script>
	</div>

	<!-- menambahkan gambar awal -->
	<div class="container-fluid section1">
		<br>
		<div class="aboutus_rectangle">
			<div class="text_section1">
				<p><img src="{% static 'images/logo.png' %}" height="40%" width="70%"></p>
				<article>is a non-profit foundation that mainly focused in disaster fund relief. We want you to be a part of our
					journey by helping us donating to one who needs.</article>
			</div>
		</div>
	</div>

	<!-- menambahkan section campaigns -->
	<a name="campaigns"></a>
	<div class="padding">
		<div class="title_text">
			<article>CAMPAIGNS</article>
			<div class="line"></div>
		</div>
		<br>

		<div style="overflow-x:auto;">
			<div class="flex-container">
				<div class="donation_content">
					<div class="image_style">
						<img src="{% static 'images/gempadonggala.jpg' %}" height="200" width="310">
					</div>
					<a href="{% url 'campaignpage:Bantu Korban Tsunami Palu-Donggala' %}">
						<h1 style="color:black;">Bantu Korban Tsunami Palu-Donggala</h1>
					</a>
					<article>Gempa bumi 7,4 SR bersumber dari sesar Palu Koro, dan berpusat di darat. Tak lama setelah gempa, tsunami
						pun menerjang pantai Talise di Kota Palu dan Pantai Donggala lalu bergerak sampai Kabupaten Sigi.</article>
				</div>
				<div class="donation_content">
					<div class="image_style">
						<img src="{% static 'images/gempalombok.jpg' %}" height="200" width="310">
					</div>
					<a href="{% url 'campaignpage:Ulurkan Tangan untuk Lombok' %}">
						<h1 style="color:black;">Ulurkan Tangan untuk Lombok</h1>
					</a>
					<article>Gempa berkekuatan 6,4 skala richter menghempas Lombok (Nusa Tenggara Barat) dan Bali. Terhitung 31 Juli
						2018, jumlah korban yang dievakuasi di penampungan mencapai lebih dari 5.000 orang di Lombok.</article>
				</div>
				<div class="donation_content">
					<div class="image_style">
						<img src="{% static 'images/gempapalu.jpg' %}" height="200" width="310">
					</div>
					<a href="{% url 'campaignpage:Ayo Bantu Palu-Donggala' %}">
						<h1 style="color:black;">Ayo Bantu Palu-Donggala</h1>
					</a>
					<article>Gempa bumi 7,4 SR secara beruntun mengguncang Kabupaten Donggala, Sulawesi Tengah, Jumat (28/9/2018).</article>
				</div>
				{% for campaign in campaign %}
				<div class="donation_content">
					<div class="image_style">
						<img src="static/images/{{ campaign.image }}" height="200" width="310">
					</div>
					{% if campaign.title == "Bantu Anak-Anak Korban Gempa Lombok" %}
					<a href="../bantu-anak-anak-korban-gempa-lombok/">
						<h1 style="color:black;">{{ campaign.title }}</h1>
					</a>
					{% elif campaign.title == "Bantu Korban Tsunami Palu-Donggala" %}
					<a href="../bantu-korban-tsunami-palu-donggala/">
						<h1 style="color:black;">{{ campaign.title }}</h1>
					</a>
					{% elif campaign.title == "Ulurkan Tangan untuk Lombok" %}
					<a href="../ulurkan-tangan-untuk-lombok/">
						<h1 style="color:black;">{{ campaign.title }}</h1>
					</a>
					{% elif campaign.title == "Ayo Bantu Palu-Donggala" %}
					<a href="../ayo-bantu-palu-donggala/">
						<h1 style="color:black;">{{ campaign.title }}</h1>
					</a>
					{% endif %}
					<article>{{ campaign.description }}</article>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- menambahkan divider -->
	<div class="divider"></div>

	<!-- menambahkan section news -->
	<a name="news"></a>
	<div class="padding">
		<div class="title_text">
			<article>LATEST NEWS</article>
			<div class="line"></div>
		</div>
		<br>

		<div style="overflow-x:auto;">
			<div class="flex-container">
				{% for news in news %}
				<div class="donation_content">
					<div class="image_style">
						<img src="static/images/{{ news.news_image }}" height="200" width="310">
					</div>
					<h1>{{ news.news_title }}</h1>
					<article>{{ news.news_description }}</article>
				</div>
				{% endfor %}
				<div class="donation_content">
					<div class="image_style">
						<img src="{% static 'images/donasiimf.jpeg' %}" height="200" width="310">
					</div>
					<h1>IMF-Bank Dunia Donasi untuk Korban Gempa Palu dan Lombok</h1>
					<article>Anggota Dana Moneter Internasional/International Monetary Fund (IMF) mengumpulkan dana untuk menyumbang
						korban bencana di Palu (Sulawesi Tengah) dan Lombok (Nusa Tenggara Barat) sebesar Rp 2 miliar.</article>
				</div>
				<div class="donation_content">
					<div class="image_style">
						<img src="{% static 'images/jokowi.jpeg' %}" height="200" width="310">
					</div>
					<h1>Jokowi Akan ke Lombok, Cek Pencairan Dana Bantuan Gempa</h1>
					<article>Presiden Joko Widodo menyatakan akan memeriksa langsung pencairan dana bantuan bagi masyarakat terdampak
						gempa di Lombok, Nusa Tenggara Barat. Rencananya kunjungan tersebut akan dilakukan Kamis (18/10).</article>
				</div>
				<div class="donation_content">
					<div class="image_style">
						<img src="{% static 'images/tendapengungsi.jpg' %}" height="200" width="310">
					</div>
					<h1>Hunian Sementara Korban Gempa dan Tsunami Palu Capai Rp 6 Triliun</h1>
					<article>Pascagempa, pemerintah berencana membangun kembali Kota Palu, Sulawesi Tengah, dengan anggaran mencapai
						Rp 6 triliun.</article>
				</div>
			</div>
		</div>
	</div>

	<!-- menambahkan footer -->
	<div class="footer">
		{% include 'footer.html' %}
	</div>
</body>

</html>
