.campaign-title {
	font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0f0a0a;
  margin: 30px;
}

.campaign-contents {
	padding-top: 10%;
  padding-bottom: 5%;
  padding-right: 8%;
  padding-left: 8%;
}

.campaign-photo {
	padding-left: 3%;
}

article {
	padding-top: 3%;
  padding-bottom: 5%;
  padding-right: 25%;
  padding-left: 3%;
}

.col-4 {width: 33.33%;}

.progressInfo p, h3, a {
	color: black;
}

.button-register {
  background-color: #15724d;
  font-family: Lato;
}
