html,
background {
  background-color: #FCFCFC;
}

.title_text {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #0f0a0a;
}

.bodyText {
  font-family: Lato;
  color: #0f0a0a;
}

.testimonyText {
  font-family: Lato;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.container {
  display: flex;
  /* or inline-flex */
}

.main {
  height: auto;
  /*Used to enable scrolling*/
}

.padding {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 8%;
  padding-left: 8%;
}

.padding1 {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 8%;
  padding-left: 8%;
}

.image_style {
  position: relative;
  z-index: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.donation_content {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.section1 {
  background-image: url('../images/frontpagebg.png');
  min-height: 610px;
  margin: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.divider {
  background-image: url('../images/frontpagebottomdivider.png');
  height: 135px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text_section1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #FCFCFC;
}

.aboutus_rectangle {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 11%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: hsl(156, 68%, 25%, 0.6);
  text-align: center;
  object-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary {
  background-color: #15724d !important;
  border-color: #15724d !important;
  font-weight: 600;
  border-radius: 12px;
}

.btn-primary:hover {
  background-color: #094d32 !important;
  border-color: #094d32 !important;
}

.text-area {
  border-radius: 12px;
  box-shadow: 5px 10px 18px #888888;
  padding: 1rem;
}

.line {
  display: block;
  border-top: 5px solid #15724d;
  width: 20%;
  margin-bottom: 2rem;
}

.testimony-set {
  height: 240px;
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #15724d;
  border-radius: 1rem;
  margin-right: 28px;
  margin-bottom: 30px;
  word-break: break-word;
  box-shadow: 5px 10px 18px #888888;
}

@media screen and (max-width: 768px) {
  .testimony-set {
    height: 250px;
    width: 100%;
    margin: 0.7rem 1rem;
  }
}