{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html>
  <head>
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400i|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  </head>
  <body style="background-color: #FCFCFC">
    <div class="header">
      {% include 'header.html' %}
    </div>

    <div class="yuhu">
      <p class="titleText" style="margin-left: 30%; margin-top:10%; font-size: 30px">REGISTER</p>
      <div class="bodyText" style="margin-left: 30%; margin-right: auto">
        <form id="form" method="POST" action="{% url 'register:form' %}" class="formText">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success registerbtn btn-lg" value="submit">REGISTER</button>
        </form>
      </div>
    </div>
    <div class="footer customFooter">
      {% include 'footer.html' %}
    </div>
  </body>
  </html>
