{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Lato:400i|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/campaignpage.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
</head>
<body style="background-color: #FCFCFC">

	<div class="header">
		{% include 'header.html' %}
	</div>

		<div class="campaign-contents">
			<div class="row">
				<div class="campaign-title">
					<h1>{{ title }}</h1>
				</div>
			</div>
			
			<div class="row">
				<div class='col-8'>
					<div class="campaign-photo">
						<img src="{{ img }}" height="400" width="600" style="margin:10px;">
					</div>

					<article>{{ desc }}</article>
				</div>
				<div class="col-3" style="margin-left:5%; display: block;">
					<div class="progressInfo" style="margin:20%;">
						<h3>Rp{{ amount }}</h3>
						<p>donated of<br>Rp10,000,000 goal</p>
						<h3>{{ jmldonatur }}</h3>
						<p>supporter(s)</p>
						<br>
						{% for nama in donatur %}
						<span>{{ nama }}  </span>
						{% endfor %}
						<br><br>
						<!-- BENERIN INI BLM MUNCUL -->

						{% if user.is_authenticated %}
						<a href="{% url 'donation:formdonation' %}" class="btn btn-basic button-register" style="color: white; font-size: 14px;">Support This Project</a>
						{% else %}
						<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-basic button-register" style="color: white; font-size: 14px;">Support This Project</a>
						{% endif %}
						<!-- <input type="submit" value="DONATE NOW" class="btn btn-basic button-post" style="color:white; font-size: 14px;"> -->
					</div>
					
				</div>
			</div>
			
		</div>
	
	

	<div class="footer">
		{% include 'footer.html' %}
	</div>
</body>
</html>