{% load static %}
<!doctype html>
<html>
  <head>
    <title>Form Donation</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/donation.css' %}">
  </head>
  <body style="background-color: #FCFCFC">
    <div>
      {% include 'header.html' %}
    </div>
    <div class="row">
      <br><br><br><br><br><br><br>
    </div>
    <div class="row">
      <div class="col-3">
        <p></p>
      </div>
      <div class="col-9">
        <div class="container-form">
          <div class="padding">
            <h3 class="titleText">Let's Donate !</h3>
            <br>
            <form action="{% url 'donation:adddonatur' %}" method="POST" style="font-size: 20px;">
                {% csrf_token %}
                <p class="text-form-donation" style="font-weight: bold;">Which Campaign?</p>
                <p style="font-family: 'Lato'; font-size: 14px; color:black;">(Ayo Bantu Palu-Donggala/Ulurkan Tangan untuk Lombok/Bantu Korban Tsunami Palu-Donggala/Bantu Anak-Anak Korban Gempa Lombok)</p>
                {{ donation_form.namaprogram }} <br>
                <p class="text-form-donation">Amount of Donate</p>
                {{ donation_form.amount }} <br><br>
                <span>{{ donation_form.allow }}</span><span style="font-family: 'Lato'; font-size: 15px;">Allow to show my name as a donatur in the campaign</span>  <br><br>
                <input type="submit" value="DONATE NOW" class="btn btn-basic button-post" style="color:white; font-size: 14px;">
            </form>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <div>
      <footer class="footer customFooter">
        {% include 'footer.html' %}
      </footer>
    </div>
  </body>
  </html>
