{% load static %}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400i|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#go-to-news").click(function () {
        $('html, body').animate({
            scrollTop: $("#news").offset().top
        }, 800);
      });

      $("#go-to-campaigns").click(function () {
        $('html, body').animate({
            scrollTop: $("#campaigns").offset().top
        }, 800);
      });

      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <div class="header">
    <nav id="nav" class="navbar navbar-expand-sm customNavbar fixed-top" style="background-color: #15724d;">
      <a class="navbar-brand" href="{% url 'landingpage:landingpage' %}">
        <img src="{% static 'images/logo.png' %}" alt="Logo" style="width:150px;">
      </a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'daftardonasi:daftardonasi' %}">Hello, {{ user.username }}</a>
          </li>
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'aboutus:aboutus' %}">ABOUT US</a>
          </li>
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'donation:formdonation' %}">DONATE</a>
          </li>
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'landingpage:landingpage' %}#campaigns" id="go-to-campaigns">CAMPAIGNS</a>
          </li>
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'landingpage:landingpage' %}#news" id="go-to-news">NEWS</a>
          </li>

          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'logingoogle:logout' %}">LOGOUT</a>
          </li>
          {% else %}
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'aboutus:aboutus' %}">ABOUT US</a>
          </li>
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">DONATE</a>
          </li>
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'landingpage:landingpage' %}#campaigns" id="go-to-campaigns">CAMPAIGNS</a>
          </li>
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'landingpage:landingpage' %}#news" id="go-to-news">NEWS</a>
          </li>
          <li class="nav-item navbarText">
            <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">LOGIN</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</head>

</html>
