html,
background {
  background-color: #FCFCFC;
  scroll-behavior: smooth;
}

.navbar {
  background-color: #15724d;
}

#nav {
  transition: 0.5s;
  background-color: transparent;
  padding: 0.5rem 2rem;
}

@media screen and (max-width: 768px) {
  #nav {
    background-color: #15724d !important;
    padding: 0.5rem 0.5rem;
  }
}

/* change the link color*/
.navbar-custom .navbar-nav .nav-link {
  color: #FCFCFC;
  font-family: 'Roboto': sans-serif;
  font-weight: 400;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #fd5e53;
}

p {
  color: black;
}

.titleText {
  font-family: 'Roboto': sans-serif;
  font-weight: bold;
  color: #0f0a0a;
}

.bodyText {
  font-family: 'Lato': sans-serif;
  color: #0f0a0a;
}

.footerText,
p,
a,
a:hover {
  color: #FCFCFC;
  font-family: 'Roboto': sans-serif;
}

.navbarText a:hover {
  color: #fd5e53
}

.navbarText {
  font-family: 'Roboto': sans-serif;
  font-weight: bold;
  color: #FCFCFC;
}

.container {
  display: flex;
  /* or inline-flex */
}

.maps {
  display: flex;
  justify-content: center;
}

.customFooter {
  background-color: #262626;
}

.customNavbar button span {
  color: #FCFCFC;
}

.formText {
  font-family: 'Lato': sans-serif;
  color: black;
}

.registerbtn {
  background-color: #15724d;
  color: #FCFCFC;
  font-weight: bold;
  font-family: 'Roboto': sans-serif;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  color: #0f0a0a;
}

form {
  padding-right: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
}

.padding {
  padding-top: 8%;
  padding-bottom: 10%;
}

#tr-hover hover {
  background-color: #15724D;
  color: #FCFCFC
}
