html, background {
  background-color: #FCFCFC;
}

.customNavbar {
  background-color: #15724d;
}

/* change the link color*/
.navbar-custom .navbar-nav .nav-link {
    color: #FCFCFC;
    font-family: 'Roboto': sans-serif;
    font-weight: bold;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #fd5e53;
}

.titleText {
  font-family: 'Roboto': sans-serif;
  font-weight: bold;
  color: #0f0a0a;
}

.bodyText {
  font-family: 'Lato': sans-serif;
  color: #0f0a0a;
}

.footerText, p, a, a:hover {
  color: #FCFCFC;
  font-family: 'Roboto': sans-serif;
}

.container {
  display: flex; /* or inline-flex */
}

.maps {
  display: flex;
  justify-content: center;
}

.customFooter {
  background-color: #262626;
}
