{% load static %}
{% load humanize %}
<!doctype html>
<html>
  <head>
    <title>{{ user.first_name }}'s Donations</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400i|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/daftardonasi.js' %}"></script>

  </head>
  <body style="background-color: #FCFCFC">
    <div class="header">
      {% include 'header.html' %}
    </div>
    <div>
      <p class="titleText" style="margin-left: 30%; margin-top:10%;">Hello, {{ user.first_name }} {{ user.last_name }}!</p>
      <p class="bodyText" style="margin-left: 30%;">{{ user.email }}</p>
      <br>
      <p class="bodyText" style="margin-left: 30%;">Here's your donations history.</p>
      <div style="margin-left:20%; margin-right:20%;">
      <table id="table" class="table table-hover" style="background-color: #FCFCFC; color: #0F0A0A;">
        <thead>
          <tr align="center">
            <th>Date</th>
            <th onclick="sortTable(0)">Campaign</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for donasi in riwayat %}
            <tr align="center" id="tr-hover">
              <td align="center">{{ donasi.time|timesince }}</td>
              <td>{{ donasi.namaprogram }}</td>
              <td>Rp{{ donasi.amount|intcomma }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
    <div class="footer">
      {% include 'footer.html' %}
    </div>
  </body>
</html>
